# --- Backend (Django) ---
# Ignore ALL compiled python files and caches in any folder
**/__pycache__/
*.pyc
*.pyo
*.pyd

# Ignore local database & media uploads
Backend/**/db.sqlite3
Backend/**/media/

# Ignore virtual environments (kahit ano pang pangalan)
venv/
.venv/
env/
Backend/venv/

# --- Frontend (Vue) ---
# Ignore installed node packages & build output
**/node_modules/
**/dist/
Frontend/.output/

# Ignore local environment variables & OS files
.env
.env.local
.DS_Store
Thumbs.db

# --- General / IDEs ---
.vscode/
.idea/